body{background-image: url("images/map-of-the-world-g231ce5437_1920.jpg"); background-size: cover;}
.center{display: flex; justify-content: center; align-items: center; flex-wrap: wrap;} 
a{text-decoration: none; color: red;}
#searchBtn{cursor: pointer;}
iframe{width: 90%; margin: 0; padding: 0;}

.country{box-sizing: border-box; padding: 10px; margin: 8px;}
.country>div{padding: 0;}
footer{height: 400px;}
